{{> header}}
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome</h2>
          <div class="text-center well-small">
            <div class="center-block">
              <em><strong>Explore a GitHub Organization's repositories</strong></em>
            </div>
          </div>
        </div>
      </div>
{{> footer}}